.black { color: var(--black) !important; }
.gray { color: var(--gray) !important; }
.light-gray { color: var(--light-gray) !important; }
.grey { color: var(--gray) !important; }
.light-grey { color: var(--light-gray) !important; }
.white { color: var(--white) !important; }
.red { color: var(--red) !important; }
.orange { color: var(--orange) !important; }
.yellow { color: var(--yellow) !important; }
.green { color: var(--green) !important; }
.blue { color: var(--blue) !important; }
.indigo { color: var(--indigo) !important; }
.violet { color: var(--violet) !important; }
.teal { color: var(--teal) !important; }
.copy-color { color: var(--copy-color) !important; }
.primary { color: var(--primary-color) !important; }
.secondary { color: var(--secondary-color) !important; }
.tertiary { color: var(--tertiary-color) !important; }
.primary-color { color: var(--primary-color) !important; }
.secondary-color { color: var(--secondary-color) !important; }
.tertiary-color { color: var(--tertiary-color) !important; }
.success { color: var(--success-color) !important; }
.info { color: var(--info-color) !important; }
.danger { color: var(--danger-color) !important; }
.warning { color: var(--warning-color) !important; }

.black-bg { background-color: var(--black) !important; }
.gray-bg { background-color: var(--gray) !important; }
.light-gray-bg { background-color: var(--light-gray) !important; }
.grey-bg { background-color: var(--gray) !important; }
.light-grey-bg { background-color: var(--light-gray) !important; }
.white-bg { background-color: var(--white) !important; }
.red-bg { background-color: var(--red) !important; }
.orange-bg { background-color: var(--orange) !important; }
.yellow-bg { background-color: var(--yellow) !important; }
.green-bg { background-color: var(--green) !important; }
.blue-bg { background-color: var(--blue) !important; }
.indigo-bg { background-color: var(--indigo) !important; }
.violet-bg { background-color: var(--violet) !important; }
.teal-bg { background-color: var(--teal) !important; }
.primary-bg { background-color: var(--primary-color) !important; }
.secondary-bg { background-color: var(--secondary-color) !important; }
.tertiary-bg { background-color: var(--tertiary-color) !important; }
.primary-color-bg { background-color: var(--primary-color) !important; }
.secondary-color-bg { background-color: var(--secondary-color) !important; }
.tertiary-color-bg { background-color: var(--tertiary-color) !important; }
.success-bg { background-color: var(--success-color) !important; }
.info-bg { background-color: var(--info-color) !important; }
.danger-bg { background-color: var(--danger-color) !important; }
.warning-bg { background-color: var(--warning-color) !important; }
