/* THESE DO NOT WORK IN MEDIA QUERIES. A DOWNSIDE OF CSS VARIABLES */
:root {
  --medium: 600px;
  --large: 1200px;
  --xlarge: 1440px;
  --xxlarge: 1800px;
  --main-overflow: auto;
  --section-padding-desktop: 2rem 0;
  --section-padding-mobile: 1rem 0;
  --mobile-list-padding: 20px;
  --desktop-list-padding: 20px;
  --black: #000;
  --gray: #D3D3D3;
  --light-gray: #ECECEC;
  --white: #FFF;
  --red: #E23838;
  --orange: #F78200;
  --yellow: #FFB900;
  --green: #5EBD3E;
  --blue: #009CDF;
  --indigo: #31457D;
  --violet: #973999;
  --teal: #2D9FA2;
  --heading-color: #333;
  --copy-color: #333;
  --primary-color: $red;
  --secondary-color: $yellow;
  --tertiary-color: $blue;
  --success-color: #2FAC58;
  --info-color: #25327C;
  --danger-color: #E83D48;
  --warning-color: #EAC435;
  --body-font: serif;
  --copy-font: serif;
  --heading-font: sans-serif;
  --body-font-size: 16px;
  --copy-font-size: 1rem;
  --heading-1-font-size: 2rem;
  --heading-2-font-size: 1.5rem;
  --heading-3-font-size: 1.17rem;
  --heading-4-font-size: 1.12rem;
  --heading-5-font-size: .83rem;
  --heading-6-font-size: .75rem;
  --heading-margin: 0 0 .5rem 0;
  --copy-margin: 0 0 .5rem 0;
  --copy-line-height: 1.2;
  --heading-line-height: 1.2;
  --copy-font-weight: normal;
  --heading-font-weight: bold;
}


